* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
      background: linear-gradient(rgba(0, 0, 0, 0.79), rgb(0, 0, 0)),
              url("./imagenes/1234.jpg");
    color: rgb(247, 247, 221);

    font-size: 16px;
    font-family: "Oswald", sans-serif;
}

a {
    color: beige;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*navegacion*/

.nav-main {
    font-size: 17px;
    background: #6d0b0be4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;

        position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-brand {
    width: 50px;
}

/*nav left  */


.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid#ffffff;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 15px;
    z-index: 2;
    font-size: 1.1em;
    display: none;
}


/* show case */

hr {
    margin: 10px 0px;
}

.showcase {
    display: flex;

    width: 100%;
    height: 500px;
    background-color: rgba(215, 51, 51, 0.397);
    background-image: url(./imagenes/image.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: 80rem;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    border-radius: 3px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 2px solid #ffffff;
    margin: 10px 0px;
}

.btn:hover {
    opacity: 0.7;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* cards */
.new-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.new-cards img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;

    background-position: center;
}

.new-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.new-cards a {
    padding: 10px 0;
    color: #5b92ff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.new-cards a:hover {
    text-decoration: underline;
}

/* cardsBaner */
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/177/354/desktop-wallpaper-blurryface-patterns-r-twentyonepilots.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 40px 0;
}

.cards-banner-one .content {
    width: 40%;
    padding: 3rem 0 0 30px;
    color: #e9fcff;
     mix-blend-mode: exclusion;
     text-shadow: 0 0 3px #00000080

}

.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 15px 0;
}

/* cardsBanner2 */

.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url(./imagenes/bnner.png) no-repeat;
    background-size: cover;
    margin: 40px 0;
}

.cards-banner-two .content {
    width: 40%;
    padding:3rem 0 0 30px;
    color: #e9fcff;
     mix-blend-mode: exclusion;
     text-shadow: 0 0 3px #00000080

}

/* social */
.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;

}

.links a i {
    font-size: 3rem;
}

/* footer links */
.footer-links {
    background: #414141;
    color: #9d9d9d;
    font-size: 12px;
    padding: 35px 0;;
}

.footer-container {
    padding: 1rem;
    display: grid;
    grid-template-columns:1fr;
    gap: 10px;
    align-items: flex-start;;
    justify-content: center;
}

.footer-container a{
    color: #1461dd;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}
.wea{
    font-size: 1.5rem;
}

.footer {
    background: #414141;
    color: #9d9d9d;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(113, 5, 5);
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.drum-show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 15px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }

    .new-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns:  1fr;
    }

}

@media (max-width: 500px) {

    .new-cards {
        grid-template-columns: 1fr;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

    .new-cards img {
        height: auto;
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 0 20px 0;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}